<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Wydrukuj swoją deklarację!</title>
    </head>
    <body>
        Deklaracja złożona, zapraszamy na ćwiczenia z <%= przm %>! <br>
        Potwierdzenie: <br>
        Twoje imię : <%= imie %> <br>
        Twoje nazwisko : <%= nazw %> <br>
        Punkty za zadania: <br>
        zad1-><%= pkt[0] %> zad2-><%= pkt[1] %> zad3-><%= pkt[2] %> zad4-><%= pkt[3] %> zad5-><%= pkt[4] %> zad6-><%= pkt[5] %> 
        zad7-><%= pkt[6] %> zad8-><%= pkt[7] %> zad9-><%= pkt[8] %> zad10-><%= pkt[9] %>
    
    </body>
</html>